doc/BDOS/AHDI/doc/Atari_ST-Disk_Drives-Inside_and_Out.pdf filter=lfs diff=lfs merge=lfs -text
doc/GEM/doc/Atari_ST-GEM_Programmers_Reference.pdf filter=lfs diff=lfs merge=lfs -text
doc/TOS/doc/Compute!'s-ST-Applications-Programming-in-C\[OCR\]\[uBee\].pdf filter=lfs diff=lfs merge=lfs -text
